.intro, .menu{
    
    &__button{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    width:220px;
    height: 50px;
    border-radius: 25px;
    background: $main-color;
    background: linear-gradient(170deg, $secondary-color 0%, $main-color 100%);
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    box-shadow:0px 5px 5px #c0bfbf;

        &:hover{
        background: $main-color;
        background: linear-gradient(170deg, lighten($secondary-color, 10%) 0%, lighten($main-color, 10%) 100%);
         }
    }
    
}