.header__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 100%;
    margin: 0px;

    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;

        img {
            width: 200px;
            height: 37px;
        }
    }

    &-return {
        padding-top: 20px;
        padding-bottom: 20px;

    }
}

.menu {
    position: relative;

    &__image {
        position: absolute;
        top: 7%;
        width: 100%;
        overflow-x: visible;
        z-index: -1;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__button {
        &:hover {
            background: $main-color;
            background: linear-gradient(170deg, lighten($secondary-color, 10%) 0%, lighten($main-color, 10%) 100%);
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 20px;

        }

    }

    &__body {
        width: 100%;
        border-radius: 35px 35px 0px 0px;
        background-color: #F3F3F3;
        margin-top: 210px;
        z-index: 1;
    }

    &__title {
        display: flex;
        align-items: center;
        flex-direction: row;

        p {
            width: 80%;
            margin-left: 5%;
        }



    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        margin-right: 10px;
        font-size: 24px;
        position: relative;

        &--empty {
            width: 47%;
            height: 100%;
            visibility: visible;
            opacity: 1;
            position: absolute;
            transform-origin: center bottom;
        }

        &--full {
            // displaying gradient color to icon
            color: transparent;
            background-clip: text;
            background-image: $main-grad;
            -webkit-background-clip: text;
            -webkit-background-image: $main-grad;
            visibility: hidden;
            height: 0%;
            opacity: 0;
            transform: scale(0, 0.1);
            transform-origin: center bottom;
        }

        &:hover {

            .menu__icon--full {
                visibility: visible;
                opacity: 1;
                transform: scale(1, 1);
                transition: all 900ms;
            }

            .menu__icon--empty{
                visibility: hidden;
                opacity: 0;
                transform: scale(1, 1);
                transition: all 100ms;

            }
        }


    }



    &__starters,
    &__main-course,
    &__dessert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .menu__card {

            &:nth-child(2) {
                animation: corgi 2s ease 0s 1 forwards;
            }

            &:nth-child(3) {
                animation: corgi 2s ease 0.2s 1 forwards;
            }

            &:nth-child(4) {
                animation: corgi 2s ease 0.4s 1 forwards;
            }

            &:nth-child(5) {
                animation: corgi 2s ease 0.6s 1 forwards;
            }
        }

    }

    &__heading {
        text-transform: uppercase;
        margin-left: 25px;
        width: 100px;
        height: 35px;
        background: $heading-gradient;
        margin-bottom: 25px;
        margin-right: 70%;

        h2 {
            background-color: #F3F3F3;
            width: 100px;
            height: 30px;
            margin: 0px;
            z-index: 1
        }

    }

    &__card {
        position: relative;
        display: flex;
        background-color: white;
        margin-bottom: 5%;
        border-radius: 15px;
        width: 90%;
        height: 70px;
        opacity: 0;
        visibility: hidden;

        &__content {
            display: flex;
            width: 100%;
        }

        &__text {
            margin: 10px 10px 15px;
            width: 80%;

            h2 {
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                margin: 0px;
                margin-top: 5px;
                height: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__price {
            display: flex;
            justify-content: center;
            width: 10%;
            height: 100%;
            margin-top: 40px;

            p {
                margin: 0;
            }
        }

        &--check {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            border-radius: 0px 15px 15px 0px;
            width: 0%;
            height: 100%;
            position: absolute;
            right: 0px;
            visibility: hidden;
            opacity: 0;



        }

        &__circle {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 30px;
            height: 30px;
            border-radius: 50px;


            i {
                color: $tertiary-color;
                transition: rotate;
            }
        }

        &:hover {
            .menu__card--check {
                visibility: visible;
                opacity: 1;
                width: 20%;
                transition: all 0.5s;
            }

            i {
                transform: rotate(359deg);
                transition: transform, 0.7s;
            }

            .menu__card__price {
                margin-left: 0%;
                transition: margin-left, 0.5s;
            }

            .menu__card__text {
                width: 62%;
                transition: width, 0.5s;
            }
        }


    }

}



@keyframes corgi {

    0% {
        transform: translateY(-5px);
        opacity: 0;
        visibility: hidden;

    }

    80% {
        opacity: 10;
        visibility: visible;
    }

    100% {
        transform: translateY(0px);
        opacity: 100;
        visibility: visible;
    }


}