$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$footer-bg: #353535;

$shadows: #dbdbdb;
$background-card: #fafafa;
$heading-gradient: linear-gradient(90deg, $tertiary-color 0%, $tertiary-color 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)00%);
$main-grad : linear-gradient(30deg, $secondary-color 0%, $secondary-color 15%, $main-color 100%);